<polymer-element name="post-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h2>Post card</h2>
  </template>

  <script type="text/javascript">
    Polymer('post-card');
  </script>
</polymer-element>
