<div class="container" layout vertical center>
  <post-card>
    <%= image_tag 'avatar-07.svg', width: 70, height: 70 %>
    <h2>Another Developer</h2>
    <p>I'm composing with shadow DOM!</p>
  </post-card>
</div>
